# ==========================
# Environment Files
# ==========================
.env
.env.*
!.env.example

# ==========================
# Build Files
# ==========================
bin/
dist/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Uploads
# ==========================
uploads/

# ==========================
# IDE Files
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Temporary Files
# ==========================
tmp/
temp/
.env
